body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 0;
}


.centre-text {
    text-align: center;
    margin-top: 120px;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 90%;
}

.section-1 {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 7%;
}

.section-1 h1 {
    text-transform: capitalize;
    font-weight: 700;
    color: rgba(37, 37, 37, 0.712);
}

.section-1 p {
    font-size: 25px;
    color: gray;
    margin-bottom: 50px;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    font-size: 20px;
    border-radius: 40px;
    padding: 12px 40px;
    box-shadow: 10px 10px 40px tomato;
}

.section-2 {
    margin: 50px 0;
    padding: 0 10%;
}

.section-2 img {
    width: 65%;
}

.section-2 h2 {
    text-transform: capitalize;
    font-weight: 700;
    color: rgba(37, 37, 37, 0.712);
    margin-top: 170px;
}

.section-2 p {
    font-size: 20px;
    color: rgb(27, 27, 27);
    margin-bottom: 40px;
}